<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="header" th:fragment="headerFragment">
    <div class="inner">
        <div class="pull-left">
            <h1 class="logo"><a th:href="@{/softwares/page}"><img src="/static/images/top_logo.png" alt="HUB POP"></a></h1>
        </div>
        <div class="pull-right">
            <div class="align_r">
                <form action="/logout" method="post" id="frm">
                    <div class="col col-my">
                        <div class="dropdown">
                            <button id="btn-my" type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <p class="name" th:text="${session.yourName}"></p>
                                <span class="ico arr"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="btn-my" aria-labelledby="btn-my" th:if="${not #strings.isEmpty(session.yourName)}">
                                <!--                            <li><a href="#"><span class="ico ico1"></span>개인정보 수정</a></li>-->
                                <!--                            <li><a href="#"><span class="ico ico3"></span>공지사항</a></li>-->
                                <li><a href="#" th:onclick="document.getElementById('frm').submit()"><span class="ico ico4"></span>로그아웃</a></li>
                            </ul>
                            <ul class="dropdown-menu dropdown-menu-right" role="btn-my" aria-labelledby="btn-my" th:if="${#strings.isEmpty(session.yourName)}">
                                <!--                            <li><a href="#"><span class="ico ico1"></span>개인정보 수정</a></li>-->
                                <!--                            <li><a href="#"><span class="ico ico3"></span>공지사항</a></li>-->
                                <li><a href="#" onclick="location.href='/login'"><span class="ico ico4"></span>로그인</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
