<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-user}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">WEBUSER
        </h2>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- cBox1 -->
        <div class="top_visualWrap">
            <div class="top_visual">
                <p class="top_title">Welcome to PaaS-TA Market place</p>
                <p class="top_stitle">
                    Thanks to our partnership with PaaS-TA, we have the ability to gain new revenues, and our customers will gain<br />
                    access to all the new technologies and benefits those technologies bring. They are exceptionally forward thinking.<br />
                    they've built their business around the cloud.
                </p>
            </div>
        </div>
        <div class="cBox-cnt">
            <div class="cont_btnBox">
                <button name="button" class="btn btn-color1 btn-md" type="button" onclick="location.href='/softwares/page'">목록</button>
                <button name="button" class="btn btn-color1 btn-md" type="button" onclick="location.href='/login'">로그인</button>
            </div>
        </div>
        <!-- //content -->
        <!-- // script 방법 1-->
        <script type="text/javascript">
            console.log('::MarketPlace index Init::');
        </script>
    </div>

    <!--</div>-->
</html>
