<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-user}">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>-->

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품 상세</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용 상품</a></li>
                <li class="active">상품 상세</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">

        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">상품 상세정보</h4>
            </div>
            <div class="cBox-cnt">
                <!-- inner -->
                <div class="in pb10">
                    <div class="l_box type1">
                        <div class="pn_thumBox">
                            <div class="pn_thum">
                                <div class="thum_img">
                                    <img th:src="${instance.software.iconPath}" alt="" />
                                </div>
                                <!-- <div class="package_bg"></div> -->
                            </div>
                        </div>
                        <button name="button" class="btn btn-color6 btn-sm" type="button" id="accessProductUrl">접속 URL 연결</button>

                    </div>
                    <div class="r_box">
                        <div class="cnt_titBox">
                            <span class="cnt_tit" th:text="${instance.software.name}"></span>
                            <span class="pn_cate type4" th:text="${instance.software.category.name}"></span>
                        </div>
                        <div class="cnt_infoBox">
                            <ul>
                                <li><div class="tit_area"><span class="ico ico01"></span><span class="tit">버전 :</span><span class="txt" th:text="${instance.software.version}"></span></div></li>
                                <li><div class="tit_area"><span class="ico ico04"></span><span class="tit">개요 :</span><span class="txt m_line" th:text="${instance.software.summary}"></span></div></li>
                                <li><div class="tit_area"><span class="ico ico05"></span><span class="tit">가격 :</span><span class="txt" th:text="${instance.software.pricePerDay} +' 원/월'"></span></div></li>
                                <li><div class="tit_area"><span class="ico ico02"></span><span class="tit">판매자 :</span><span class="txt" th:text="${instance.software.createdBy}"></span></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cnt_infoBox outer pb40">
                    <ul>
                        <li>
                            <div class="tit_area"><span class="ico ico03"></span><span class="tit">상품 상세 정보</span></div>
                            <div class="info_inner_txt">
                                <pre th:text="${instance.software.description}">
                                </pre>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- //inner -->

                <!-- 미리보기 -->
                <div class="slideBox">
                    <h4>미리보기</h4>
                    <div class="slideWrap">
                        <div class="slide_list">
                            <ul class="nav nav-tabs">
                                <li th:each="screenshot : ${instance.software.screenshotList}">
                                    <a href=""><img th:src="${screenshot}" alt="" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- //미리보기 -->
            </div>

        </div>
        <!-- //cBox1 -->

        <div class="cont_btnBox">
            <button name="button" class="btn btn-color7 btn-md" type="button" data-toggle="modal" data-target="#stopModal">정지</button>
            <button name="button" class="btn btn-color1 btn-md " type="button" onclick="moveInstancesPage()">목록</button>

            <!-- 팝업 Modal -->
            <div class="modal fade" id="stopModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal-sm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="stopModalLabel">사용 정지</h4>
                        </div>
                        <div class="modal-body">
                            <p class="popTxt">서비스 사용을 정지 하시겠습니까?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" name="button" class="btn btn-color1" onclick="stopInstance()">예</button>
                            <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">아니오</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //팝업 Modal -->
        </div>

    </div>
    <!-- //content -->
    <input type="hidden" id="id" name="id" th:value="${instance.id}" />
    <input type="hidden" id="accessUrl" name="accessUrl" th:value="${instance.appUrl}" />
    <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
    <script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
        /*<![CDATA[*/

        // ON LOAD
        $(document.body).ready(function () {
            console.log(':: instances-detail init::');
        });


        var moveInstancesPage = function() {
            procMovePage("/instances/my/page");
        };

        //instance Stop(=Delete)
        var stopInstance = function () {
            var id = $("#id").val();
            console.log(":: ID :: " + id);
            procCallAjax("/instances/" + id,"DELETE", null, null, moveInstancesPage);
        };

        $("#accessProductUrl").on("click", function () {
            var accessUrl = "http://" + $("#accessUrl").val();
            $(location).attr('href',accessUrl);
        });

        /*]]>*/
    </script>
</div>
</html>
