<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-user}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">사용 상품</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">마이 페이지</a></li>
                <li class="active">사용 상품</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- Top 비주얼 -->
        <div class="top_visualWrap">
            <div class="top_visual">
                <p class="top_title">Welcome to PaaS-TA Market place</p>
                <p class="top_stitle">
                    Thanks to our partnership with PaaS-TA, we have the ability to gain new revenues, and our customers will gain<br>
                    access to all the new technologies and benefits those technologies bring. They are exceptionally forward thinking.<br>
                    they've built their business around the cloud.
                </p>
            </div>
        </div>
        <!-- //Top 비주얼 -->

        <!-- 검색 Form -->
        <div class="searchWrap">
            <form th:action="@{/softwares}" th:object="${spec}" action="#" id="searchSoftwaresForm" method="get">
                <div class="searchBox">
                    <!-- Form 그룹 -->
                    <div class="form-group">
                        <div class="form-group-area">
                            <div class="fm_label"><label for="" class="label">카테고리</label></div>
                            <div class="fm_box">
                                <select th:field="*{categoryId}" id="categoryId">
                                    <option value="">선택</option>
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}"
                                            th:utext="${category.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- //Form 그룹 -->
                    <!-- Form 그룹 -->
                    <div class="form-group">
                        <div class="form-group-area">
                            <div class="fm_label"><label for="" class="label">상품명</label></div>
                            <div class="fm_box">
                                <input type="text" placeholder="검색어를 입력해 주세요." th:field="*{nameLike}" id="nameLike" style="width:400px;">
                            </div>
                        </div>
                    </div>
                    <!-- //Form 그룹 -->
                    <button type="button" class="btn btn-sch" title="검색" id="searchBtn"><span class="ico">검색</span></button>
                </div>
            </form>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">총 건수 <span class="point4" id="totalElements"></span></h3>
        </div>


        <div id="totalListArea">
        </div>

		<!-- //page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList">
            </ul>
        </nav>
        <!-- //page -->

    </div>
    <!-- //content -->
    <script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
        /*<![CDATA[*/

        var PAGING_SIZE = 8;
        var pageNumSave = 0; 
        var SORT = "id,asc";

        // ON LOAD
        $(document.body).ready(function () {
            getInstance();
        });

        var getInstance = function (pageNum) {
            var categoryId = $("#categoryId option:selected").val();
            var nameLike = $("#nameLike").val();

            console.log("categoryId ::: " + categoryId + " ::: nameLike ::: " + nameLike);

            if (categoryId === 'ALL' || categoryId === '') {
                categoryId = '';
            }

            if(nameLike === null || nameLike === '') {
                nameLike = '';
            }

            var reqUrl = "/instances" + "?categoryId=" + categoryId + "&softwareNameLike=" + nameLike + "&size=" + PAGING_SIZE + "&sort=" + SORT + "&page=" + pageNum;
            if (pageNum != null) 
            	pageNumSave = pageNum;
            procCallAjax(reqUrl, "GET", null, null, callbackInstance);
        };

        var callbackInstance = function (data) {
            console.log("data ::: " + JSON.stringify(data));

            $("#totalElements").text("(" + data.totalElements + ")");

            var totalListArea = $("#totalListArea");
            var htmlString = [];
            var content = data.content;

            var listLength = content.length;

            if(listLength > 0){
                htmlString += '<ul class="ul-panel">';
                for(var i = 0; i < listLength; i++){
                    htmlString +=
                          '<li>'
                    //panel
                        + '<div class="panelWrap" onclick="moveInstancesDetail(' + content[i].id + ')">'
                        + '<div class="panel type3">'
                    //panelBox
                        + '<div class="panelBox">'
                        + '<div class="pn_thumBox">'
                        + '<div class="pn_thum">'
                        + '<div class="thum_img">'
                        + ' <img src="' + content[i].software.iconPath +'" alt="" />'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + ' <span class="pn_cate type2">'+ content[i].software.category.name +'</span>'
                        + ' <div class="pn_tit">'
                        + ' <span class="pn_tit_txt">'+ content[i].software.name +' <span class="point5">(v'+ content[i].software.version+')</span></span>'
                        + ' <span class="starting_info">사용시작일 : '+ content[i].usageStartDate+'</span>'
                        + ' </div>'
                        + '  <div class="pn_btn_area">'
                        + '  <div class="btn-inline">'
                        + '  <span class="txt">구동 상태 : '+ content[i].provisionStatus +'</span>'
                        + ' </div>'
                        + ' </div>'
                    //panelBox-->
                        + ' </div>'
                        + ' </div>'
                        + ' </div>'
                    //panel -->
                        +'</li>';
                }
                htmlString += '</ul>';
                totalListArea.html(htmlString);

            }else{
                htmlString = '<div class="search_resultBox">'
                    + '<p class="txt_lg">' + '<span class="color1">검색결과가 없습니다.' + '</span></p>'
                    + '<p class="txt_sm">단어의 철자를 확인하거나 다른 검색어를 넣어 다시 검색해주세요.</p>'
                    + '</div>';

                totalListArea.html(htmlString);
            }

            //::page::
            var pageTotalNumber = data.totalElements;   // 총 데이터 수
        	var pageSize = data.size;                   // 한 페이지에 나타낼 데이터 수        	
        	paging(pageTotalNumber, pageSize, PAGING_SIZE, pageNumSave);

        	function paging(pageTotalNumber, pageSize, PAGING_SIZE, currentPage){
            	console.log("currentPage : " + currentPage);
            	currentPage = parseInt(currentPage);
                
            	var totalPage = Math.ceil(pageTotalNumber/pageSize);           // 총 페이지 수
            	if (currentPage)
            		var pageGroup = Math.ceil((currentPage+1)/PAGING_SIZE);    // 페이지 그룹
            	else var pageGroup = 1;
                
                console.log("pageGroup : " + pageGroup);
                
                var last = pageGroup * PAGING_SIZE;        // 화면에 보여질 마지막 페이지 번호 (실제 페이지와 -1 차이)
                if(last > totalPage)
                    last = totalPage;
                var first = last - (PAGING_SIZE-1)-1;      // 화면에 보여질 첫번째 페이지
                if(first < 0)
                    first = 0;                               
                var next = currentPage + 1;                // 다음 페이지
                var prev = currentPage - 1;                // 이전 페이지
                
                console.log("last : " + last);
                console.log("first : " + first);
                console.log("next : " + next);
                console.log("prev : " + prev);
                 
                var htmlStringPage = "";
                
                if(currentPage==0) {
                	htmlStringPage += "<li class='first disabled' id='first'><a href='#'>맨 처음</a></li>";                    
                } else {
                	htmlStringPage += "<li class='first' id='first'><a href='javascript:void(0);' onclick=moveInstanceListPage('0')>맨 처음</a></li>";
                }
                
                if(prev < 0) {
                	htmlStringPage += "<li class='prev disabled' id='prev'><a href='#'>이전</a> </li>";                    
                } else {
                	htmlStringPage += "<li class='prev' id='prev'><a href='javascript:void(0);' onclick=moveInstanceListPage('"+ prev +"')>이전</a> </li>";
                }
                                    
                for(var i=first; i < last; i++){
                    htmlStringPage += "<li class='active' id='" + i + "'><a href='javascript:void(0);' onclick=moveInstanceListPage('"+ i +"')>" + (i + 1) + "</a></li> ";
                }
                
                if(next > totalPage-1) {
                	htmlStringPage += "<li class='next disabled' id='next'><a href='#'>다음</a></li>";                   
                } else {
                	htmlStringPage += "<li class='next' id='next'><a href='javascript:void(0);' onclick=moveInstanceListPage('"+ next +"')>다음</a></li>";
                }
                
                if(currentPage==totalPage-1) {
                	htmlStringPage += "<li class='end disabled'><a href='#'>맨 끝</a></li>";            
                } else {
                	htmlStringPage += "<li class='end'><a href='javascript:void(0);' onclick=moveInstanceListPage('"+ (totalPage-1) +"')>맨 끝</a></li>";
                }
                                
                $("#pageNumberList").html(htmlStringPage);                      // 페이지 목록 생성                                     
            }
        };

        //eventBtn
        $("#searchBtn").on("click", function () {
            getInstance();
        });


        //eventnNameLike
        $("#nameLike").keypress(function(e) {
            if (e.keyCode === 13) {
                e.preventDefault(getInstance());
            }
        });

        var moveInstanceListPage = function(page) {
            getInstance(page);
        };

        //move :: Detail
        var moveInstancesDetail = function(id) {
            procMovePage("/instances/{id}".replace("{id}", id));
        };


        /*]]>*/
    </script>
</div>
</html>
