<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-user}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <div class="titWrap">
        <h2 class="h2">Log in to PaaS-TA Market place</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
            </ol>
        </div>

    <!-- content -->
        <div class="content">
            <div class="top_visualWrap">
                <div class="top_visual">
                    <p class="top_title">Welcome to PaaS-TA Market place</p>
                    <p class="top_stitle">
                        Thanks to our partnership with PaaS-TA, we have the ability to gain new revenues, and our customers will gain<br />
                        access to all the new technologies and benefits those technologies bring. They are exceptionally forward thinking.<br />
                        they've built their business around the cloud.
                    </p>
                </div>
            </div>

            <div class="cBox-cnt">
                <div class="cont_btnBox">
                    <button name="button" class="btn btn-color1 btn-md" type="button" th:each="url : ${urls}" th:text="${url.key}" onclick="location.href='/oauth2/authorization/cf'"></button>
                    <button name="button" class="btn btn-color7 btn-md" type="button" onclick="location.href='/logout'">로그아웃</button>
                </div>
            </div>
            <!-- //content -->
        </div>
    </div>
</div>
</html>
