<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-user}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">요금 계산</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">마이 페이지</a></li>
                <li class="active">요금 계산</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- Top 비주얼 -->
        <div class="top_visualWrap">
            <div class="top_visual">
                <p class="top_title">Welcome to PaaS-TA Market place</p>
                <p class="top_stitle">
                    Thanks to our partnership with PaaS-TA, we have the ability to gain new revenues, and our customers will gain<br />
                    access to all the new technologies and benefits those technologies bring. They are exceptionally forward thinking.<br />
                    they've built their business around the cloud.
                </p>
            </div>
        </div>
        <!-- //Top 비주얼 -->

        <!-- 검색 Form -->
        <div class="searchWrap">
            <div class="searchBox">
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label class="label">사용연월</label></div>
                        <select name="selectDateYear1" id="selectDateYear1" th:onchange="selectYear()">

                        </select>
                        <label></label>
                        <select name="selectDateMonth1" id="selectDateMonth1" th:onchange="selectMonth()">

                        </select>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">카테고리</label></div>
                        <div class="fm_box">
                            <select class="selectField" id="categoryList">
                                <option value="">선택</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:utext="${category.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색" id="searchBtn"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">총 건수 <span class="point4" id="totalElements"></span><span class="point_txt" id="totalPrice"></span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:8%;">
                    <col style="width:8%;">
                    <col style="width:15%;">
                    <col style="width:8%;">
                    <col style="width:8%;">
                    <col style="width:15%;">
                    <col style="width:10%;">
                    <col style="width:8%;">
                    <col style="width:auto;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">사용연월</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">상품 명</th>
                    <th scope="col">버전</th>
                    <th scope="col">가격</th>
                    <th scope="col">구매일</th>
                    <th scope="col">사용일 수</th>
                    <th scope="col">상태</th>
                   <th scope="col">사용 요금</th>
                </tr>
                </thead>
                <tbody id="myInstanceListArea">
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList">
            </ul>
        </nav>
        <!-- //page -->
    </div>
    <!-- //content -->
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/

        var PAGING_SIZE = 10;
        var pageNumSave = 0; 
        var SORT = "id,desc";
        var yearValue = $("#selectDateYear1 option:selected").val();
        var monthValue = $("#selectDateMonth1 option:selected").val();

        var getMyInstanceList = function(pageNum) {
            var selectedCategory = $("#categoryList option:selected").val();

            if (selectedCategory === 'ALL' || selectedCategory === '') {
                selectedCategory = '';
            }

            console.log("기본 이어2 ::: " + yearValue + "& 기본 몬쓰2 ::: " + monthValue);

            var yy = yearValue; // 이번 해
            var yy2 = yearValue; // 다음 해

            var mm = monthValue; // 이번 달
            var mm2 = monthValue; // 다음 달

            if (monthValue < 10) {
                mm = '0' + monthValue;
                if((parseInt(monthValue) + 1) >= 10) {
                    mm2 = (parseInt(monthValue) + 1);
                } else {
                    mm2 = '0' + (parseInt(monthValue) + 1);
                }
            }else if(monthValue >= 10 && monthValue < 12) {
                mm = monthValue;
                mm2 = parseInt(monthValue) + 1;
            }


            if(monthValue > 11) {
                console.log("현재 12월 ::: " + yearValue + "-" + monthValue);
                console.log(parseInt(yearValue) + 1);
                yy = yearValue;
                yy2 = parseInt(yearValue) + 1;
                mm = monthValue;
                mm2 = "01";
            }

            var currentYearMonth = yy + "-" + mm + "-01";
            var nextYearMonth = yy2 + "-" + mm2 + "-01";


            // 전체 구매 상품 목록 조회 url
            var reqUrl = "/instances/total" + "?categoryId=" + selectedCategory + "&page=" + pageNum + "&size=" + PAGING_SIZE + "&sort=" + SORT + "&usageStartDate=" + currentYearMonth +"&usageEndDate=" + nextYearMonth;
            console.log("전체 경로 ::: "  + reqUrl);
            if (pageNum != null)
            	pageNumSave = pageNum;
            procCallAjax(reqUrl, "GET", null, null, callbackGetMyInstanceList);

        };

        // 상품 목록 CALLBACK
        var callbackGetMyInstanceList = function(data) {
            console.log("검색되는 이어 ::: " + yearValue + "& 검색되는 몬쓰 ::: " + monthValue);
            var lastDay = ( new Date(yearValue, monthValue, 0) ).getDate();
            console.log("마지막 날? " + lastDay);

          	//::page::
            var pageTotalNumber = data.totalElements;   // 총 데이터 수
        	var pageSize = data.size;                   // 한 페이지에 나타낼 데이터 수        	
        	paging(pageTotalNumber, pageSize, PAGING_SIZE, pageNumSave);
        	
        	function paging(pageTotalNumber, pageSize, PAGING_SIZE, currentPage){
            	console.log("currentPage : " + currentPage);
            	currentPage = parseInt(currentPage);
                
            	var totalPage = Math.ceil(pageTotalNumber/pageSize);           // 총 페이지 수
            	if (currentPage)
            		var pageGroup = Math.ceil((currentPage+1)/PAGING_SIZE);    // 페이지 그룹
            	else var pageGroup = 1;
                
                console.log("pageGroup : " + pageGroup);
                
                var last = pageGroup * PAGING_SIZE;        // 화면에 보여질 마지막 페이지 번호 (실제 페이지와 -1 차이)
                if(last > totalPage)
                    last = totalPage;
                var first = last - (PAGING_SIZE-1)-1;      // 화면에 보여질 첫번째 페이지
                if(first < 0)
                    first = 0;                               
                var next = currentPage + 1;                // 다음 페이지
                var prev = currentPage - 1;                // 이전 페이지
                
                console.log("last : " + last);
                console.log("first : " + first);
                console.log("next : " + next);
                console.log("prev : " + prev);
                 
                var htmlStringPage = "";
                
                if(currentPage==0) {
                	htmlStringPage += "<li class='first disabled' id='first'><a href='#'>맨 처음</a></li>";                    
                } else {
                	htmlStringPage += "<li class='first' id='first'><a href='javascript:void(0);' onclick=moveMyInstanceListPage('0')>맨 처음</a></li>";
                }
                
                if(prev < 0) {
                	htmlStringPage += "<li class='prev disabled' id='prev'><a href='#'>이전</a> </li>";                    
                } else {
                	htmlStringPage += "<li class='prev' id='prev'><a href='javascript:void(0);' onclick=moveMyInstanceListPage('"+ prev +"')>이전</a> </li>";
                }
                                    
                for(var i=first; i < last; i++){
                    htmlStringPage += "<li class='active' id='" + i + "'><a href='javascript:void(0);' onclick=moveMyInstanceListPage('"+ i +"')>" + (i + 1) + "</a></li> ";
                }
                
                if(next > totalPage-1) {
                	htmlStringPage += "<li class='next disabled' id='next'><a href='#'>다음</a></li>";                   
                } else {
                	htmlStringPage += "<li class='next' id='next'><a href='javascript:void(0);' onclick=moveMyInstanceListPage('"+ next +"')>다음</a></li>";
                }
                
                if(currentPage==totalPage-1) {
                	htmlStringPage += "<li class='end disabled'><a href='#'>맨 끝</a></li>";            
                } else {
                	htmlStringPage += "<li class='end'><a href='javascript:void(0);' onclick=moveMyInstanceListPage('"+ (totalPage-1) +"')>맨 끝</a></li>";
                }
                                
                $("#pageNumberList").html(htmlStringPage);                      // 페이지 목록 생성                                     
            }

            // 총 상품 수
            $("#totalElements").text("(" + data.totalElements + ")");

            // 상품 목록 조회
            var myInstanceListArea = $("#myInstanceListArea");
            var htmlString = [];
            var productList = data.content;

            var listLength = productList.length;
            var priceTotal = 0;

            if(listLength > 0){
                for(var i = 0; i < listLength; i++){

                    var dayOfUsingPeriod = [[ ${dayOfUsingPeriod} ]];
                    var usingDay = (dayOfUsingPeriod[productList[i].id] + 1);
                    var pricePerInstance = Math.round(productList[i].software.pricePerMonth/lastDay * usingDay);
                 	// Format Date
                 	var usageStartDateValue = new Date(productList[i].usageStartDate);
                	var usageStartDate = getFormatDate(usageStartDateValue);

                    htmlString.push(
                        "<tr>"
                        + "<td>" + (i+1) + "</td>"
                        + "<td>" + yearValue + "-" + monthValue + "</td>"
                        + "<td><span class=\"pn_cate type"+ productList[i].software.category.id +"\">" + productList[i].software.category.name + "</span></td>"
                        + "<td>" + productList[i].software.name + "</td>"
                        + "<td>" + productList[i].software.version + "</td>"
                        + "<td>" + productList[i].software.pricePerMonth + " 원/월</td>"
                        + "<td>" + usageStartDate + "</td>"
                        + "<td>" + usingDay + " 일</td>"
                        + "<td>" + productList[i].status + "</td>"
                        + "<td>" + pricePerInstance + " 원</td>"
                        +"</tr>"
                    );

                    priceTotal += parseInt(pricePerInstance);
                }
            }else{
                htmlString = "<tr>"
                    + "<td colspan='10'><p class='user_p'>상품이 존재하지 않습니다.</p></td>" + "</tr>"
            }


            // 총 금액
            $("#totalPrice").text(" / 총 금액 (" +  priceTotal +" 원)");

            myInstanceListArea.html(htmlString);
        };

     	// 페이지 이동
        var moveMyInstanceListPage = function(page) {
            getMyInstanceList(page);
        };

        //eventBtn
        $("#searchBtn").on("click", function () {
            getMyInstanceList();

        });


        // [공통] 년, 월 select box
        function selectCal(monthfield, yearfield) {
            var today = new Date();

            console.log("오늘?? " + (today.getMonth() + 1));
            yearValue = today.getFullYear();
            monthValue = (today.getMonth() + 1);

            console.log("기본 이어1 ::: " + yearValue + "& 기본 몬쓰1 ::: " + monthValue);

            for (var i = 1; i < 13; i++) {

                if ((today.getMonth() + 1) == i) $("#" + monthfield).append("<option value='" + i + "' selected='selected'>" + i + "</option>");
                else $("#" + monthfield).append("<option value='" + i + "'>" + i + "</option>");
            }

            var thisyear = today.getFullYear();
            for (var y = thisyear - 10; y < thisyear + 10; y++) {

                if (thisyear == y) $("#" + yearfield).append("<option value='" + y + "' selected='selected'>" + y + "</option>");
                else $("#" + yearfield).append("<option value='" + y + "'>" + y + "</option>");
            }

        }

        var selectYear = function() {
            var selectedYearValue = $("#selectDateYear1 option:selected").val();
            console.log("Year ::: " + selectedYearValue);
            yearValue = selectedYearValue;
        };

        var selectMonth = function() {
            var selectedMonthValue = $("#selectDateMonth1 option:selected").val();
            console.log("Month ::: " + selectedMonthValue);
            monthValue = selectedMonthValue;
        };

        // ON LOAD
        $(document.body).ready(function () {
            selectCal('selectDateMonth1', 'selectDateYear1');
            getMyInstanceList();
            currentMenu('2_2');
        });


        /*]]>*/
    </script>
</div>
</html>
