<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-user}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">요금 통계</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">마이 페이지</a></li>
                <li class="active">요금 통계</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- Top 비주얼 -->
        <div class="top_visualWrap">
            <div class="top_visual">
                <p class="top_title">Welcome to PaaS-TA Market place</p>
                <p class="top_stitle">
                    Thanks to our partnership with PaaS-TA, we have the ability to gain new revenues, and our customers will gain<br />
                    access to all the new technologies and benefits those technologies bring. They are exceptionally forward thinking.<br />
                    they've built their business around the cloud.
                </p>
            </div>
        </div>
        <!-- //Top 비주얼 -->

        <!-- 검색 Form -->
        <div class="searchWrap">
            <div class="searchBox">
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label class="label">사용기간</label></div>
                        <select name="selectDateYear1" id="selectDateYear1" th:onchange="selectYear()">

                        </select>
                        <label></label>
                        <select name="selectDateMonth1" id="selectDateMonth1" th:onchange="selectMonth()">
                        </select>
						~
						<select name="selectDateYear2" id="selectDateYear2" th:onchange="selectYear()">

                        </select>
                        <label></label>
                        <select name="selectDateMonth2" id="selectDateMonth2" th:onchange="selectMonth()">
                        </select>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                
                <button type="button" name="button" class="btn btn-sch" title="검색" id="searchBtn"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">총 건수 <span class="point4" id="totalElements"></span><span class="point_txt" id="totalPrice"></span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:10%;">                    
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:15%;">
                    <col style="width:15%;">
                    <col style="width:auto;">
                </colgroup>
                <thead>
                	<tr>
                		<th scope="col" rowspan="2">No.</th>
                    	<th scope="col" rowspan="2">사용연월</th>
                    	<th colspan="3">상품수</th>
                    	
                    	<th scope="col" rowspan="2">평균 상품수</th>
                    	<th scope="col" rowspan="2">평균 단가</th>
                    	<th scope="col" rowspan="2">평균 사용일</th>
                   		<th scope="col" rowspan="2">사용 요금</th>
                	</tr>
                	<tr>
                		<th scope="col">사용</th>
                    	<th scope="col">신규</th>
                    	<th scope="col">정지</th>
                	</tr>
                </thead>
                <tbody id="myInstanceStatsListArea">
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

    </div>
    <!-- //content -->
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/

        var SORT = "id,asc";

        var getMyInstanceStatsList = function() {
        	var yearValueF = $("#selectDateYear1 option:selected").val();
            var monthValueF = $("#selectDateMonth1 option:selected").val();
            var yearValueS = $("#selectDateYear2 option:selected").val();
            var monthValueS = $("#selectDateMonth2 option:selected").val();
            
            console.log("기본 이어F ::: " + yearValueF + "& 기본 몬쓰F ::: " + monthValueF);
            console.log("기본 이어S ::: " + yearValueS + "& 기본 몬쓰S ::: " + monthValueS);

          	//[이용기간] 검색조건
            var yy = yearValueF;        			// 이전 해
            var yy2 = yearValueS;       			// 다음 해
            var mm = monthValueF;       			// 이전 달
            var mm2 = parseInt(monthValueS) + 1;	// 다음 달(해당달 전체를 포함 위해 더하기 1)
            
            if (monthValueF < 10) {
                mm = '0' + monthValueF;
            }else if(monthValueF >= 10 && monthValueF < 12) {
                mm = monthValueF;
            }

            if (mm2 < 10) {
                mm2 = '0' + mm2;
            }else if(monthValueS >= 10 && monthValueS < 12) {
                mm2 = mm2;
            }
            
            var currentYearMonth = yy + "-" + mm + "-01";
            var nextYearMonth = yy2 + "-" + mm2 + "-01";
            
            if(currentYearMonth == 'undefined-undefined-01' || currentYearMonth == 'undefined-undefined-01' ){
                currentYearMonth = '';
                nextYearMonth = '';
            }
            
            console.log("start>>> "+ currentYearMonth + "  end>>> " + nextYearMonth);
            // 전체 구매 상품 목록 조회 url
            var reqUrl= "/stats/instances/my/price/total" + "?sort=" + SORT + "&usageStartDate=" + currentYearMonth +"&usageEndDate=" + nextYearMonth;
            //console.log("전체 경로 ::: "  + reqUrl);
            
         	// Loading Start
            loading.start();
         
            procCallAjax(reqUrl, "GET", null, null, callbackGetMyInstanceStatsList);
        };

        // CALLBACK
        var callbackGetMyInstanceStatsList = function(data) {
			
        	//console.log(data);
          	                        
            // 총 상품 수
            $("#totalElements").text("(" + Object.keys(data).length + ")");

            // 목록 조회
            var myInstanceStatsListArea = $("#myInstanceStatsListArea");
            var htmlString = [];

            var listLength = 0; 
            var priceTotal = 0;
            /*::data:: [index][beforeInstances, startInstances, stopInstances, totalUseDays, totalCharge] */            
//             var beforeInstance = 0;
//             var startInstance = 0;
//             var stopInstance = 0;
//             var avgCount = 0;
//             var avgPrice = 0;
//             var avgDays = 0;
//             var totalCharge = 0;
            
			if(data !== "") {
				listLength = Object.keys(data).length;
	        }
            //console.log("length::" + listLength);
            
            if(listLength > 0){
                for(var i = 0; i < listLength; i++){

                 	// Format Date
                    var usageDateData = data[i][0];
                 	var year = usageDateData.substr(0,4);
                 	var month = parseInt(usageDateData.substr(4,2));
                 	
                 	var lastDate = new Date(year, month, 0);
                 	var lastDay = lastDate.getDate();
                 	console.log("lastDay .>> "+ lastDay);

                 	var instanceCount = data[i][1] + data[i][2];
                 	var avgCount = data[i][4] / lastDay;
                 	var totalCharge = data[i][5];
                 	var totalChargeRound = Math.round(totalCharge);
                 	var avgPrice = totalCharge / avgCount;                 	
                 	var avgDays = data[i][4] / instanceCount;
                 	priceTotal += totalChargeRound;
                 	
                    htmlString.push(
                        "<tr>"
                        + "<td>" + (i+1) + "</td>"
                        + "<td>" + year + "-" + month + "</td>"                        
                        + "<td>" + instanceCount + "</td>"
                        + "<td>" + data[i][2] + "</td>"
                        + "<td>" + data[i][3] + "</td>"
                        + "<td>" + Math.round(avgCount*10)/10 + "</td>"
                        + "<td>" + Math.round(avgPrice) + " 원</td>"
                        + "<td>" + Math.round(avgDays*10)/10 + "</td>"
                        + "<td>" + totalChargeRound + " 원</td>"
                        +"</tr>"
                    );
                }
                htmlString += "<tr><td colspan='8'>합계</td><td>" + priceTotal + " 원</td></tr>"
            }else{
                htmlString = "<tr>"
                    + "<td colspan='9'><p class='user_p'>상품이 존재하지 않습니다.</p></td>" + "</tr>"
            }

            // 총 금액
            $("#totalPrice").text(" / 총 금액 (" +  priceTotal +" 원)");

            myInstanceStatsListArea.html(htmlString);
            
         	// Loading Stop
            loading.stop();
        };

        //eventBtn
        $("#searchBtn").on("click", function () {
            getMyInstanceStatsList();
        });

        // [공통] 년, 월 select box
        function selectCal(monthfieldF, yearfieldF, monthfieldS, yearfieldS) {
            var today = new Date();

            yearValueF = today.getFullYear();
            monthValueF = 1;
            
            console.log("오늘?? " + (today.getMonth() + 1));
            yearValueS = today.getFullYear();
            monthValueS = (today.getMonth() + 1);

            console.log("기본 이어2 ::: " + yearValueS + "& 기본 몬쓰2 ::: " + monthValueS);

            for (var i = 1; i < 13; i++) {
                if (monthValueF == i) $("#" + monthfieldF).append("<option value='" + i + "' selected='selected'>" + i + "</option>");
                else $("#" + monthfieldF).append("<option value='" + i + "'>" + i + "</option>");
            }
            
            for (var i = 1; i < 13; i++) {
                if ((today.getMonth() + 1) == i) $("#" + monthfieldS).append("<option value='" + i + "' selected='selected'>" + i + "</option>");
                else $("#" + monthfieldS).append("<option value='" + i + "'>" + i + "</option>");
            }

            var thisyear = today.getFullYear();
            for (var y = thisyear - 10; y < thisyear + 10; y++) {

                if (thisyear == y) $("#" + yearfieldF).append("<option value='" + y + "' selected='selected'>" + y + "</option>");
                else $("#" + yearfieldF).append("<option value='" + y + "'>" + y + "</option>");
            }

            for (var y = thisyear - 10; y < thisyear + 10; y++) {
                if (thisyear == y) $("#" + yearfieldS).append("<option value='" + y + "' selected='selected'>" + y + "</option>");
                else $("#" + yearfieldS).append("<option value='" + y + "'>" + y + "</option>");
            }

        }

        var selectYear = function() {
        	var selectedYearValueF = $("#selectDateYear1 option:selected").val();
            var selectedYearValueS = $("#selectDateYear2 option:selected").val();

            yearValueF = selectedYearValueF;
            yearValueS = selectedYearValueS;
            console.log("Year ::: " + selectedYearValueF +"/"+ selectedYearValueS);
        };

        var selectMonth = function() {
        	var selectedMonthValueF = $("#selectDateMonth1 option:selected").val();
            var selectedMonthValueS = $("#selectDateMonth2 option:selected").val();

            monthValueF = selectedMonthValueF;
            monthValueS = selectedMonthValueS;

            console.log("Month ::: " + selectedMonthValueF +"/"+ selectedMonthValueS);
        };

        // ON LOAD
        $(document.body).ready(function () {
            selectCal('selectDateMonth1', 'selectDateYear1', 'selectDateMonth2', 'selectDateYear2');
            getMyInstanceStatsList();
            currentMenu('2_3');
        });


        /*]]>*/
    </script>
</div>
</html>
