<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-user}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">요금 계산</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">마이 페이지</a></li>
                <li class="active">요금 계산</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- Top 비주얼 -->
        <div class="top_visualWrap">
            <div class="top_visual">
                <p class="top_title">Welcome to PaaS-TA Market place</p>
                <p class="top_stitle">
                    Thanks to our partnership with PaaS-TA, we have the ability to gain new revenues, and our customers will gain<br />
                    access to all the new technologies and benefits those technologies bring. They are exceptionally forward thinking.<br />
                    they've built their business around the cloud.
                </p>
            </div>
        </div>
        <!-- //Top 비주얼 -->

        <!-- 검색 Form -->
        <div class="searchWrap">
            <div class="searchBox">
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label class="label">사용기간</label></div>
                        <select name="selectDateYearStart" id="selectDateYearStart"></select>
                        <label></label>
                        <select name="selectDateMonthStart" id="selectDateMonthStart"></select>
                        ~
                        <select name="selectDateYearEnd" id="selectDateYearEnd"></select>
                        <label></label>
                        <select name="selectDateMonthEnd" id="selectDateMonthEnd"></select>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">카테고리</label></div>
                        <div class="fm_box">
                            <select class="selectField" id="categoryList">
                                <option value="">선택</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:utext="${category.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_box">
                        	<input type="checkbox" id="instanceCartView" />
                        </div>
                        <div class="fm_label"><label for="instanceCartView" class="label">장바구니포함</label></div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색" id="searchBtn"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">총 건수 <span class="point4" id="totalElements"></span><span class="point_txt" id="totalPrice"></span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                	<col style="width:5%;">
                    <col style="width:5%;">
                    <col style="width:8%;">
                    <col style="width:15%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:15%;">
                    <col style="width:15%;">
                    <col style="width:auto;">
                </colgroup>
                <thead>
                <tr>
                	<th scope="col"><input type="checkbox" id="priceCalculationCheckAll" checked></th>
                    <th scope="col">No.</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">상품 명</th>
                    <th scope="col">버전</th>
                    <th scope="col">가격</th>
                    <th scope="col">구매일</th>
                    <th scope="col">정지일</th>
                   	<th scope="col">사용 요금</th>
                </tr>
                </thead>
                <tbody id="myInstanceListArea"></tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <div class="pull-right mt10" style="display:none;">
            <!-- <button type="button" class="btn btn-danger btn-lg">Click to toggle popover</button> -->
            <button type="button" class="btn btn-success btn-sm" id="deleteInstanceCartBtn" style="display:none;">장바구니 비우기</button>
        </div>
        
        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList"></ul>
        </nav>
        <!-- //page -->
    </div>
    
    <!-- 알림 팝업 Modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-sm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">알림!</h4>
                </div>
                <div class="modal-body">
                    <p class="popTxt" id="alertModal-text">구매할 상품의 가격 정보가 없습니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //알림 팝업 Modal -->
    
        <!-- 장바구니 확인 팝업 Modal -->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-sm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">장바구니</h4>
                </div>
                <div class="modal-body">
                    <p class="popTxt">장바구니를 비우시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" name="button" class="btn btn-color1" id="execDeleteInstanceCartBtn">예</button>
                    <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">아니오</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //장바구니 확인 팝업 Modal -->
    
    <!-- InstanceCartList Template -->
    <SCRIPT id="instanceCartTemplate" type="text/html">
		<tr>
			<td><input type="checkbox" name="priceCalculationCheck" data-price-per-instance="${pricePerInstance}" onclick="fncUsagePriceTotalRecalcul()" checked></td>
			<td><img src="/static/images/icon_cart.png" width="30" height="30"></td>
			<td><span class="pn_cate type${software.category.id}">${software.category.name}</span></td>
			<td>${software.name}</td>
			<td>${software.version}</td>
			<td>${commonUtils.addComma(softwarePlanAmtMonth)} 원/월</td>
			<td>-</td>
			<td>-</td>
			<td>${commonUtils.addComma(pricePerInstance)} 원</td>
		</tr>
	</SCRIPT>
    <!-- //InstanceCartList Template -->
    <!-- InstanceList Template -->
    <SCRIPT id="instanceTemplate" type="text/html">
		<tr>
			<td><input type="checkbox" name="priceCalculationCheck" data-price-per-instance="${pricePerInstance}" onclick="fncUsagePriceTotalRecalcul()" checked></td>
			<td>${rowNum}_${id}</td>
			<td><span class="pn_cate type${software.category.id}">${software.category.name}</span></td>
			<td>${software.name}</td>
			<td>${software.version}</td>
			<td>${commonUtils.addComma(softwarePlanAmtMonth)} 원/월</td>
			<td>${usageStartDate}</td>
			<td>${usageEndDate}</td>
			<td>${commonUtils.addComma(pricePerInstance)} 원</td>
		</tr>
	</SCRIPT>
    <!-- //InstanceList Template -->
    
    <!-- //content -->
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        var PAGING_SIZE = 999999;
        var pageNumSave = 0;
        var SORT = "id,desc";

        var getMyInstanceRangeList = function(pageNum) {
        	// Category
            var selectedCategory = $("#categoryList option:selected").val();
            if (selectedCategory === 'ALL' || selectedCategory === '') {
                selectedCategory = '';
            }

           	// InstanceCart
           	var instanceCartChecked = $("#instanceCartView").is(":checked");
           
			// Usage Date Range
			var usageYearStart = $("#selectDateYearStart option:selected").val();
			var usageMonthStart = $("#selectDateMonthStart option:selected").val();
			var usageYearEnd = $("#selectDateYearEnd option:selected").val();
			var usageMonthEnd = $("#selectDateMonthEnd option:selected").val();
			
			var startDateValue = Number(usageYearStart + commonUtils.dateValueDigit(usageMonthStart));
			var endDateValue = Number(usageYearEnd + commonUtils.dateValueDigit(usageMonthEnd));
			
			if (startDateValue > endDateValue) {
        		$("#alertModal-text").text("사용기간은 시작일자가 종료일자보다 클수는 없습니다.");
        		$("#alertModal").modal("show");

				$("#selectDateYearEnd").val(usageYearStart);
				$("#selectDateMonthEnd").val(usageMonthStart);
				return;
			}
			
			// 조회 시작일자 생성
			currentYearMonth = usageYearStart +"-"+ commonUtils.dateValueDigit(usageMonthStart) +"-01T00:00:00";
			
			// 조회 마지막일자 생성
			var nextLastDay = (new Date(usageYearEnd, commonUtils.dateValueDigit(usageMonthEnd), 0)).getDate();
			nextYearMonth = usageYearEnd +"-"+ commonUtils.dateValueDigit(usageMonthEnd) +"-"+ nextLastDay +"T23:59:59";
			
            // 전체 구매 상품 목록 조회 url
            var reqUrl = "/instances/total" + "?categoryId=" + selectedCategory + "&page=" + pageNum + "&size=" + PAGING_SIZE + "&sort=" + SORT + "&usageStartDate=" + currentYearMonth +"&usageEndDate=" + nextYearMonth +"&instanceCartChecked="+ instanceCartChecked;
                        
            procCallAjax(reqUrl, "GET", null, null, callbackGetMyInstanceList);
        };

        // 상품 목록 CALLBACK
        var callbackGetMyInstanceList = function(data) {
            // List 초기화
            $("#myInstanceListArea").html("");
            $("#deleteInstanceCartBtn").hide();
            
            var yearValue = $("#selectDateYearStart option:selected").val();
            var monthValue = $("#selectDateMonthStart option:selected").val();
            var lastDay = ( new Date(yearValue, monthValue, 0) ).getDate();

            // 총 상품 수
            var totalInstanceCnt = data.instancePage.totalElements;
            $("#totalElements").text("(" + totalInstanceCnt + ")");

            // Template Loading
            var instanceCartTemplateHtml = $("#instanceCartTemplate").text();
            var instanceTemplateHtml = $("#instanceTemplate").text();
            
            // Cart List
            var instanceCartChecked = $("#instanceCartView").is(":checked");
            if (data.instanceCartList != undefined && data.instanceCartList.length > 0) {
            	$("#deleteInstanceCartBtn").show();
            	
            	data.instanceCartList.forEach(function(cartInfo){
            		$.tmpl(instanceCartTemplateHtml, cartInfo).appendTo("#myInstanceListArea");
				});
            } else if (instanceCartChecked && (pageNumSave == 0 || pageNumSave == undefined)) {
            	//$("#alertModal-text").text("장바구니에 담겨있는 상품이 없습니다.");
        		//$("#alertModal").modal("show");
            }

            // 상품 목록 조회
            var myInstanceListArea = $("#myInstanceListArea");
            var htmlString = [];
            var productList = data.instancePage.content;
            var listLength = productList.length;
            var pageRowTotalPricePerInstance = 0;

            if (listLength > 0) {
            	var rowNum = totalInstanceCnt - (pageNumSave * PAGING_SIZE);

            	productList.forEach(function(instanceInfo) {
            		// RowNumber 생성
                	instanceInfo.rowNum = rowNum;
            		rowNum--;
            		
                 	// 사용시작일 DateFormat
                 	var usageStartDateValue = new Date(instanceInfo.usageStartDate);
                	instanceInfo.usageStartDate = getFormatDate(usageStartDateValue);
					
                	// 사용종료일 DateFormat
                	if (instanceInfo.usageEndDate != null) {
	                	var usageEndDateValue = new Date(instanceInfo.usageEndDate);
	                	instanceInfo.usageEndDate = getFormatDate(usageEndDateValue);
                	} else {
                		instanceInfo.usageEndDate = fncNullValue(instanceInfo.usageEndDate, "-")
                	}
            		
               		$.tmpl(instanceTemplateHtml, instanceInfo).appendTo("#myInstanceListArea");
            	});
            } else {
                $("#myInstanceListArea").append($.parseHTML("<tr><td colspan='9'><p class='user_p'>상품이 존재하지 않습니다.</p></td></tr>"));
            }

            // 총 사용 금액
	        /* if (!commonUtils.isBlank(data.usagePriceTotal)) {
	        	$("#totalPrice").text(" / 총 금액 (" +  commonUtils.addComma(data.usagePriceTotal) +" 원)");
	        } else {
	        	$("#totalPrice").text(" / 총 금액 (0 원)");
	        } */
            
            // 총 사용금액 계산
	        fncUsagePriceTotalRecalcul("READY", null);
        };

     	// 페이지 이동
        var moveMyInstanceListPage = function(page) {
            getMyInstanceRangeList(page);
        };

        //eventBtn
        $("#searchBtn").on("click", function () {
            getMyInstanceRangeList(0);
        });
        
        //장바구니 비우기 버튼
        $("#deleteInstanceCartBtn").on("click", function () {
        	$("#cartModal").modal("show");
        });

      	//장바구니 삭제
        $("#execDeleteInstanceCartBtn").on("click", function () {
        	procCallAjax("/instances/cart/allDelete", "DELETE", "", null, callbackDeleteInstanceCart);
        });
      	
      	function callbackDeleteInstanceCart(data) {
      		procMovePage("/priceCalculation");
      	}
      
        // [공통] 년, 월 select box
        function selectCal(monthfield, yearfield) {
            var today = new Date();
            yearValue = today.getFullYear();
            monthValue = (today.getMonth() + 1);
            
            for (var i = 1; i < 13; i++) {
                if ((today.getMonth() + 1) == i) $("#" + monthfield).append("<option value='" + i + "' selected='selected'>" + i + "</option>");
                else $("#" + monthfield).append("<option value='" + i + "'>" + i + "</option>");
            }

            var thisyear = today.getFullYear();
            //for (var y = thisyear - 10; y < thisyear + 10; y++) {
            for (var y = thisyear; y < thisyear + 32; y++) {
                if (thisyear == y) $("#" + yearfield).append("<option value='" + y + "' selected='selected'>" + y + "</option>");
                else $("#" + yearfield).append("<option value='" + y + "'>" + y + "</option>");
            }
        }
        
        function fncNullValue(value, diffaultValue) {
        	var result = value;
        	if (value == "null") {
        		result = diffaultValue;
        	} else if (value == null) {
        		result = diffaultValue;
        	} else if (value == "") {
        		result = diffaultValue;
        	}
        	return result;
        }
        
        $("#priceCalculationCheckAll").on("click", function () {
        	var isChecked = $("#priceCalculationCheckAll").is(":checked");
			$("input:checkbox[name=priceCalculationCheck]").each(function() {
				$(this).prop("checked", isChecked);
				// console.log(">>>>>>> isChecked: %s / obj: %o / price-per-instance: %s", isChecked, $(this), $(this).data("price-per-instance"));
			});
			fncUsagePriceTotalRecalcul();
        });
        
        function fncUsagePriceTotalRecalcul() {
        	var usagePriceTotal = 0;
        	$("input:checkbox[name=priceCalculationCheck]").each(function() {
        		var obj = $(this);
				if (obj.is(":checked")) {
					usagePriceTotal += obj.data("pricePerInstance");
				}
				//console.log(">>>>>>>> checked: %s / pricePerInstance: %s", obj.is(":checked"), obj.data("pricePerInstance"));
			});
			
        	//console.log(">>>>>>>> usagePriceTotal: %s", usagePriceTotal);
        	$("#totalPrice").text(" / 총 금액 ("+ usagePriceTotal +" 원)");
        }
		
        // ON LOAD
        $(document.body).ready(function () {
            selectCal('selectDateMonthStart', 'selectDateYearStart');
            selectCal('selectDateMonthEnd', 'selectDateYearEnd');
            getMyInstanceRangeList(0);
            currentMenu('2_2');
            fncUsagePriceTotalRecalcul();
        });
        /*]]>*/
    </script>
</div>
</html>
