<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<!--<div layout:fragment="content">-->

<div layout:fragment="content">
<!--    style="background-color:burlywood; display: grid; padding:10px; width: auto; height: 800px;"-->
    샘플인데 왜 보이질 않니!!
    <dt>id</dt>
        <dd th:text="${sample.value}"></dd>

</div>

<!--</div>-->
</html>