<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-user}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품목록</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">상품목록</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- Top 비주얼 -->
        <div class="top_visualWrap">
            <div class="top_visual">
                <p class="top_title">Welcome to PaaS-TA Market place</p>
                <p class="top_stitle">
                    Thanks to our partnership with PaaS-TA, we have the ability to gain new revenues, and our customers will gain<br>
                    access to all the new technologies and benefits those technologies bring. They are exceptionally forward thinking.<br>
                    they've built their business around the cloud.
                </p>
            </div>
        </div>
        <!-- //Top 비주얼 -->


<!--        <form th:action="@{/softwares}" th:object="${software}" action="#" id="createSoftwareForm" method="post" enctype="multipart/form-data">-->
        <!-- 검색 Form -->
        <div class="searchWrap">
            <form th:action="@{/softwares}" th:object="${spec}" action="#" id="searchSoftwaresForm" method="get">
            <div class="searchBox">
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">카테고리</label></div>
                        <div class="fm_box">
                            <select th:field="*{categoryId}">
                                <option value="">선택</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:utext="${category.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">상품명</label></div>
                        <div class="fm_box">
                            <input type="text" placeholder="검색어를 입력해 주세요." th:field="*{nameLike}" style="width:400px;">
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="submit" class="btn btn-sch" title="검색"><span class="ico">검색</span></button>
            </div>
            </form>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">최근 등록 상품 <span class="point4">(20)</span></h3>
        </div>

        <!-- panel area-->
        <ul class="ul-panel">
            <li th:each="software, index : ${softwares}">
                <!-- panel -->
                <div class="panelWrap">
                    <a th:href="@{'/softwares/' + ${software.id}}">
                    <div class="panel type3">
                        <!-- panelBox-->
                        <div class="panelBox">
                            <div class="pn_thumBox">
                                <div class="pn_thum">
                                    <div class="thum_img">
                                        <img src="/static/images/thum_ico01.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <span class="pn_cate type3">보안</span>
                            <div class="pn_tit">
                                <span class="pn_tit_txt" th:text="${software.name}"><span class="point5" th:text="'(' + ${software.version} + ')'"></span></span>
                                <span class="price_info" th:text="'가격 :' + ${software.pricePerDay} + ' 월/일'"></span>
                            </div>
                            <div class="seller_info"><span class="ico_person"></span><span class="txt" th:text="'판매자 : (' + ${software.createdBy} + ')'"></span></div>
                            <!-- //panelBox-->
                        </div>
                    </div>
                    </a>
                </div>
                <!-- //panel -->
            </li>

            <li>
                <!-- panel -->
                <div class="panelWrap">
                    <div class="panel type3">
                        <!-- panelBox-->
                        <div class="panelBox">
                            <div class="pn_thumBox">
                                <div class="pn_thum">
                                    <div class="thum_img">
                                        <img src="/static/images/thum_ico01.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <span class="pn_cate type3">보안</span>
                            <div class="pn_tit">
                                <span class="pn_tit_txt">테드폴허브<span class="point5">(v1.0)</span></span>
                                <span class="price_info">가격: 1,000원/일</span>
                            </div>
                            <div class="seller_info"><span class="ico_person"></span><span class="txt">판매자: 테드폴허브</span></div>
                            <!-- //panelBox-->
                        </div>
                    </div>
                </div>
                <!-- //panel -->
            </li>
        </ul>
        <!-- //panel area-->
    </div>
    <!-- //content -->
</div>
</html>