<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-user}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품 상세</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">상품 목록</a></li>
                <li class="active">상품 상세</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">

        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">상품 상세정보</h4>
            </div>
            <div class="cBox-cnt">
                <!-- inner -->
                <div class="in pb10">

                    <div class="l_box type1">
                        <div class="pn_thumBox">
                            <div class="pn_thum">
                                <div class="thum_img">
                                    <img th:src="${software.iconPath}" alt="" />
                                </div>
                                <!-- <div class="package_bg"></div> -->
                            </div>
                        </div>
                        <button name="button" class="btn btn-color6 btn-sm" type="button" data-toggle="modal" data-target="#myModal">구매하기</button>

                        <!-- 팝업 Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content modal-sm"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">상품 구매</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p class="popTxt">선택한 상품을 구매하시겠습니까?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" name="button" class="btn btn-color1" id="purchaseBtn">확인</button>
                                        <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //팝업 Modal -->

                    </div>
                    <div class="r_box">
                        <div class="cnt_titBox">
                            <span class="cnt_tit" th:text="${software.name}"></span>
                            <span class="pn_cate type4" th:text="${software.category.name}"></span>
                        </div>
                        <div class="cnt_infoBox">
                            <ul>
                                <li><div class="tit_area"><span class="ico ico01"></span><span class="tit">버전 :</span><span class="txt" th:text="${software.version}"></span></div></li>
                                <li><div class="tit_area"><span class="ico ico04"></span><span class="tit">개요 :</span><span class="txt m_line" th:text="${software.summary}"></span></div></li>
                                <li><div class="tit_area"><span class="ico ico05"></span><span class="tit">가격 :</span><span class="txt" th:text="${software.pricePerMonth} +' 원/월'"></span></div></li>
                                <li><div class="tit_area"><span class="ico ico02"></span><span class="tit">판매자 :</span><span class="txt" th:text="${software.createdBy}"></span></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cnt_infoBox outer pb40">
                    <ul>
                        <li>
                            <div class="tit_area"><span class="ico ico03"></span><span class="tit">상품 상세 정보</span></div>
                            <div class="info_inner_txt">
                                <pre th:text="${software.description}">
                                </pre>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- //inner -->

                <!-- 미리보기 -->
                <div class="slideBox">
                    <h4>미리보기</h4>
                    <div class="slideWrap">
                        <div class="slide_list">
                            <ul class="nav nav-tabs">
                                <li th:each="screenshot : ${software.screenshotList}">
                                    <a href=""><img th:src="${screenshot}" alt="" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- //미리보기 -->
            </div>
        </div>
        <!-- //cBox1 -->

        <div class="cont_btnBox">
            <button name="button" class="btn btn-color1 btn-md" type="button" onclick="moveSoftwaresPage()">목록</button>
        </div>

    </div>
    <input type="hidden" id="softwareId" name="id" th:value="${software.id}" />
    <!-- //content -->
    <script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
        /*<![CDATA[*/

        $("#purchaseBtn").on("click", function () {

            var id = $("#softwareId").val();

            console.log("여기 들어오니?" + id);

            var reqParam = {
                "software": {
                    "id": id
                },
                "provisionTryCount": 0,
                "deprovisionTryCount": 0
            };

            procCallAjax("/instances", "POST", JSON.stringify(reqParam), null, callbackCreatedInstance);
        });

        var callbackCreatedInstance = function(data) {
            console.log(data);
            procMovePage("/instances/my/page");
        };

        // ON LOAD
        $(document.body).ready(function () {
            console.log('::softwares/{id} init::');
        });

        var moveSoftwaresPage = function() {
            procMovePage("/softwares/page");
        }

        /*]]>*/
    </script>
</div>
</html>
