<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-user}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품목록</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">상품목록</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- Top 비주얼 -->
        <div class="top_visualWrap">
            <div class="top_visual">
                <p class="top_title">Welcome to PaaS-TA Market place</p>
                <p class="top_stitle">
                    Thanks to our partnership with PaaS-TA, we have the ability to gain new revenues, and our customers will gain<br>
                    access to all the new technologies and benefits those technologies bring. They are exceptionally forward thinking.<br>
                    they've built their business around the cloud.
                </p>
            </div>
        </div>
        <!-- //Top 비주얼 -->


<!--        <form th:action="@{/softwares}" th:object="${software}" action="#" id="createSoftwareForm" method="post" enctype="multipart/form-data">-->
        <!-- 검색 Form -->
        <div class="searchWrap">
            <form th:action="@{/softwares}" th:object="${spec}" action="#" id="searchSoftwaresForm" method="get">
            <div class="searchBox">
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">카테고리</label></div>
                        <div class="fm_box">
                            <select th:field="*{categoryId}" id="categoryId">
                                <option value="">선택</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:utext="${category.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">상품명</label></div>
                        <div class="fm_box">
                            <input type="text" placeholder="검색어를 입력해 주세요." th:field="*{nameLike}" id="nameLike" style="width:400px;">
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" class="btn btn-sch" title="검색" id="searchBtn"><span class="ico">검색</span></button>
            </div>
            </form>
        </div>
        <!-- //검색 Form -->
        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">최근 등록 상품 <span class="point4" id="totalElements"></span></h3>
        </div>
        <!-- panel area-->
        <ul class="ul-panel" id="sofrwareBox"></ul>
        <!-- //panel area-->
    </div>
    <!-- //content -->
    <script type="text/javascript">
        /*<![CDATA[*/
        var BOOLEN_SEARCH = false;

        // ON LOAD
        $(document).ready(function() {
            getSoftwares();
        });

        var getSoftwares = function () {
            var categoryId = $("#categoryId option:selected").val();
            var nameLike = $("#nameLike").val();

            console.log("categoryId ::: " + categoryId + " ::: nameLike ::: " + nameLike);

            if (categoryId === 'ALL' || categoryId === '') {
                categoryId = '';
            }

            if(nameLike === null || nameLike === '') {
                nameLike = '';
            }

            var reqUrl = "/softwares" + "?categoryId=" + categoryId + "&nameLike=" + nameLike;
            procCallAjax(reqUrl, "GET", null, null, callbackSoftwares);
        };

        var callbackSoftwares = function(data){
            $("#totalElements").text("(" + data.totalElements + ")");

            var sofrwareList = $("#sofrwareBox");
            var htmlString = [];
            var content = data.content;

            var listLength = content.length;

            if(listLength > 0 ){

                for(var i = 0; i < listLength; i++){
                    htmlString.push(
                   '<li>'
                        + '<div class="panelWrap" onclick="moveSoftwareDetail(' + content[i].id + ')">'
                        + '<div class="panel type3">'
                        + '<div class="panelBox">'
                        + '<div class="pn_thumBox">'
                        + '<div class="pn_thum">'
                        + '<div class="thum_img">'
                        + '<img src="/static/images/thum_ico01.png" alt="" />'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + "<span class=\"pn_cate type"+ content[i].category.id +"\">" + content[i].category.name + "</span>"
                        + '<div class="pn_tit">'
                        + '<span class="pn_tit_txt">'+ content[i].name+' <span class="point5">(v'+ content[i].version+')</span></span>'
                        + '<span class="price_info">가격:'+ content[i].pricePerDay+' 원/월</span>'
                        + '</div>'
                        + '<div class="seller_info"><span class="ico_person"></span><span class="txt">판매자: '+ content[i].createdBy +'</span></div>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                 + '</li>'
                    );
                }

            }else{
                htmlString = '<div id="totalListArea">'
                    + '<div class="search_resultBox"><p class="txt_lg">'
                    + '<span class="color1">검색결과가 없습니다.</span></p>'
                    + '<p class="txt_sm">단어의 철자를 확인하거나 다른 검색어를 넣어 다시 검색해주세요.</p>'
                    + '</div></div>'

            }
            sofrwareList.html(htmlString);
        };

        //eventBtn
        $("#searchBtn").on("click", function () {
            getSoftwares();
        });

        //eventnNameLike
        $("#nameLike").keypress(function(e) {
            if (e.keyCode === 13) {
                e.preventDefault(getSoftwares());
            }
        });

        //move :: Detail
        var moveSoftwareDetail = function(id) {
            procMovePage("/softwares/{id}".replace("{id}", id));
        }


        /*]]>*/
    </script>
</div>
</html>
